@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* CSS reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* CSS variables */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  --heading: "Big Shoulders Display", cursive;
  --body: "Lexend Deca", sans-serif;
}
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.24rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: #fff;
  padding: 1.9rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card__header h1 {
  font-family: var(--heading);
  color: var(--light-gray);
  padding: 2.5rem 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.card__lead {
  font-family: var(--body);
  color: var(--transparent-white);
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.card_header {
  display: flex;
  align-items: center;
  margin-bottom: 0.62rem;
}

.btn {
  background-color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 3px transparent solid;
  border-radius: 5rem;
  margin: 2rem 0;
}

.card--bg-orange .btn {
  color: var(--bright-orange);
}

.card--bg-blue .btn {
  color: var(--dark-cyan);
}

.card--bg-green .btn {
  color: var(--very-dark-cyan);
}

.btn:hover {
  background-color: transparent;
  color: var(--light-gray);
  border: 3px var(--light-gray) solid;
  cursor: pointer;
}

.card--bg-orange {
  background-color: var(--bright-orange);
  color: var(--light-gray);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.card--bg-blue {
  background-color: var(--dark-cyan);
  color: var(--light-gray);
}

.card--bg-green {
  background-color: var(--very-dark-cyan);
  color: var(--light-gray);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 20rem;
    grid-template-columns: 1fr;
  }

  .card--bg-orange {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }

  .card--bg-green {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
